#edit-collider-button{
    border-width: 1px;
    border-color: black;
}
.edit-collider-disabled{
    background-color: rgb(200,200,200);    
}

.edit-collider-disabled:hover{
    background-color: rgb(187,187,187);
}

.edit-collider-enabled, .edit-collider-enabled:hover{
    background-color: rgb(101,101,101);
}
#new-floor-button{
    margin-top:10px
}