.prespective-background {
	background-color: #aaaaaa;
}

.utility-window-background-fix {
	background-color: #c2c2c2;
}

.foldout-division, .division {
	background-color: #cfcfcf;
}

.industrialassets-theme {
	border-left-width: 3px;
	border-left-color: rgb(245, 245, 245);
}