.prespective-background {
	background-color: #2d2d2d;
}

.utility-window-background-fix {
	background-color: #383838;
}

.foldout-division, .division {
	background-color: #424242;
}

.industrialassets-theme {
	border-left-width: 3px;
	border-left-color: rgb(205, 205, 205);
}